@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* width*/
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(250, 235, 193);
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #8d4102;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #eeb9a1;
  border-radius: 3px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
